<div class="container">
  <div class = "centerlist">
    <div class = "checkmark">
      <div class = "text">
        <div id = "primary-content">
            <h1><%= @list.title %></h1>
            <table>
              <tr>
                <th style{width=50%}><h4>Description</h3></th>
                <th class="days_old"><h4>Days Old</h4></th>
                <th style{width=25%}></th>
              </tr>
              <% @todos.each do |t| %>
                <tr>
                  <% if t.age_of_todo <= 7 %>
                    <td class="description"><%= t.description %></td>
                    <td class="days_old"><h3><%= t.age_of_todo %></h3></td>
                    <td class="completed"><%= button_to 'Completed', {:id => t.id, :action => 'destroy', :controller => 'todos'}, :method => :delete, data: {confirm: 'Do you want to delete this Todo?'} %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <div class="newtodoline" data-no-turbolink = "true">  
              <div class="text_field">
                <%= form_for @todo do |form| %>
                  <%= form.text_field :description, placeholder: 'Add new todo', size: 30 %></div>
              <div class="days_old">
                   <%= form.hidden_field :list_id, :value => @list.id %></div>
              <div class="completed">
                   <%= form.submit 'Save Todo' %></div>
                <% end %>
            
          </div>
        </div>
      </div>

    </div>
  </div>
  
  
  
</div>

<%= javascript_include_tag "turbolinks_transitions" %>