<%= stylesheet_link_tag    "TodoIndex", media: "all", "data-turbolinks-track" => true %>

<h1>Current TODO list</h1>

<% @Todos = current_user.todos %>
<% def Age_of_todo(t) %>
   <%= (((t.created_at + 7.days) - Time.now)/(60*60*24)).round %>
<% end %>


<table>
  <tr>
    <th class="description">Description</th>
    <th class="days_old">Days Old</th>
    <th class="completed">Completed?</th>
  </tr>
  <% @Todos.each do |t|%>
    <tr>
      <td class="description"><%= t.description %></td>
      <td class="days_old"><%= Age_of_todo(t) %></td>
      <td class="completed"><div><%= form_for [t] do |f| %>
            <%= f.check_box :completed, {}, "true" %>
            <%= f.submit 'Save' %>
          <% end %></div></td>
    </tr>
  <% end %>
</table>


