<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Happy+Monkey|Federo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "animate", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "turbolinks_transitions", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <br />
  <div class="container"><%# container is a bootstrap class. I use it on all views, to keep margins, etc. consistent. %>
    <ul class="nav nav-tabs"><%# also bootstrap classes. %>
      <li><%= link_to "BLOCCITOFF", root_path %></li>
      <% if current_user %> <%# if you're not signed in/registered, you can't do any of these tasks %>
        <li><%= link_to "CREATE LIST", new_list_path %></li>
        <li><%= link_to "VIEW LISTS", lists_path %></li>
        <li><%= link_to "CREATE TODO", new_todo_path %></li>
      <% end %>

      <div class="pull-right user-info">
        <% if current_user %>
          <li><%= link_to (current_user.name.upcase || current_user.email.upcase), todos_path(user_id: current_user.id) %>
          <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-user"></span><%# bootstrap %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
            <% end %></li>
        <% else %>
          <%= link_to "SIGN IN", new_user_session_path %> or
          <%= link_to "SIGN UP", new_user_registration_path %>
        <% end %>
    </div>
  </div>
  </ul>
  
    <% if flash[:notice] %>
      <p class="notices"><%= flash[:notice]%></p>
    <% end %>

    <%= yield %>

  <%= javascript_include_tag "turbolinks_transitions" %>
</body>
</html>

